.retry-button,
.refresh-button {
  background-color: #ff4655;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  display: block;
  margin: 16px auto 0 auto;
}

.retry-button:hover,
.refresh-button:hover {
  background-color: #e0232f;
}

.filter-button {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.filter-button button {
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.filter-button button:hover {
  background-color: #e0232f;
  color: white;
}

.active-button {
  background-color: #ff4655 !important;
  color: white;
  font: bolder;
}
/* Center button containers */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 16px 0;
}
